<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873847844824-a2kntjodpil3gcv5akitobd07nnclfek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873847844824-a2kntjodpil3gcv5akitobd07nnclfek</string>
	<key>API_KEY</key>
	<string>AIzaSyAjpCUdhljlgZx9W0UWn-SFSw37RwpnQ9U</string>
	<key>GCM_SENDER_ID</key>
	<string>873847844824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kenapa</string>
	<key>PROJECT_ID</key>
	<string>sif-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>sif-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873847844824:ios:26e783dbc0e3cde4438cad</string>
</dict>
</plist>